.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* risoluzione esercizo  */

@media screen and (max-width:576px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .row h1 {
    font-size: 26px;
  }


  .row {
    width: 100%;
    margin-top: 0;
    padding: 10px;
  }


  #lezioni .row .right, #lezioni .row .left {
    width: 100%;
    margin-top: 20px;
  }

  .container {
    background-color: wheat;
  }

  .container.grey {
    background-color: white;
  }

  #steps .row .left, #steps .row .central, #steps .row .right {
    width: 100%;
    margin-top: 20px;
  }

  #why.container.grey {
    background-color: wheat;
  }

  #why .row .first, #why .row .second, #why .row .third {
    margin-top: 20px;
    border-bottom: 1px solid black;
  }

  img {
    height: 100px;
  }

}


@media screen and (min-width:576px) and (max-width:786px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .row h1 {
    font-size: 36px;
  }


  .row {
    width: 100%;
    margin-top: 0;
    padding: 30px;
  }


  #lezioni .row .right, #lezioni .row .left {
    width: 100%;
    margin-top: 30px;
  }

  .container {
    background-color: turquoise;
  }

  .container.grey {
    background-color: tomato;
  }

  #steps .row .left, #steps .row .central {
    width: 50%;
    margin-top: 30px;
  }
  
  #steps .row .right {
    width: 100%;
    margin-top: 30px;
  }

  #why.container.grey {
    background-color: tan;
  }

  #why .row .first, #why .row .second, #why .row .third {
    border-bottom: 1px solid whitesmoke;
    margin-top: 20px;
  }

  hr {
    display: none;
  }

  #why .row .third img {
    margin-top: 30px;
  }


  #why .row .first, #why .row .second {
    width: 50%;
    float: left;
    height: 240px;
    
  }


  img {
    height: 100px;
  }

  
}